body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u2 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
#u0-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:225px;
}
#u0-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:225px;
}
#u0-4 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:225px;
}
#u0-5 {
  position:absolute;
  left:310px;
  top:235px;
  width:300px;
  height:225px;
}
#u0-6 {
  position:absolute;
  left:620px;
  top:235px;
  width:300px;
  height:225px;
}
#u0 {
  position:absolute;
  left:20px;
  top:133px;
  width:920px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:437px;
}
#u3 {
  position:absolute;
  left:981px;
  top:133px;
  width:285px;
  height:437px;
}
#u4 {
  position:absolute;
  left:2px;
  top:210px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5 {
  position:absolute;
  left:20px;
  top:24px;
  width:840px;
  height:86px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:836px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7 {
  position:absolute;
  left:20px;
  top:645px;
  width:714px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:710px;
  white-space:nowrap;
}
.u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u11 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u12 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u9-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u9-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u9-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u9-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u9 {
  position:absolute;
  left:20px;
  top:687px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:438px;
}
#u14 {
  position:absolute;
  left:981px;
  top:687px;
  width:277px;
  height:438px;
}
#u15 {
  position:absolute;
  left:2px;
  top:211px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:20px;
  top:1273px;
  width:854px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:850px;
  white-space:nowrap;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u20 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u21 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u18-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u18-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u18-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u18-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u18 {
  position:absolute;
  left:20px;
  top:1315px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:447px;
}
#u23 {
  position:absolute;
  left:979px;
  top:1315px;
  width:281px;
  height:447px;
}
#u24 {
  position:absolute;
  left:2px;
  top:216px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u25 {
  position:absolute;
  left:20px;
  top:1904px;
  width:593px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:589px;
  white-space:nowrap;
}
.u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u29 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u30 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
.u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u32 {
  position:absolute;
  left:178px;
  top:3px;
  width:119px;
  height:42px;
}
.u33 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u27-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u27-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u27-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u27-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u27 {
  position:absolute;
  left:20px;
  top:1946px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:421px;
}
#u34 {
  position:absolute;
  left:979px;
  top:1946px;
  width:368px;
  height:421px;
}
#u35 {
  position:absolute;
  left:2px;
  top:202px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:20px;
  top:2548px;
  width:887px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:883px;
  white-space:nowrap;
}
.u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u40 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u41 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
.u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u43 {
  position:absolute;
  left:177px;
  top:4px;
  width:119px;
  height:42px;
}
.u44 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u38-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u38-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u38-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u38-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u38 {
  position:absolute;
  left:20px;
  top:2590px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:422px;
}
#u45 {
  position:absolute;
  left:979px;
  top:2590px;
  width:363px;
  height:422px;
}
#u46 {
  position:absolute;
  left:2px;
  top:203px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u47 {
  position:absolute;
  left:20px;
  top:3181px;
  width:1103px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:1099px;
  white-space:nowrap;
}
.u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u51 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u52 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
.u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u54 {
  position:absolute;
  left:181px;
  top:0px;
  width:119px;
  height:42px;
  color:#FFFFFF;
}
.u54_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u54.selected {
}
.u54_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(218, 37, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u54.disabled {
}
.u55 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u49-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u49-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u49-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u49-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u49 {
  position:absolute;
  left:20px;
  top:3223px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:444px;
}
#u56 {
  position:absolute;
  left:979px;
  top:3223px;
  width:367px;
  height:444px;
}
#u57 {
  position:absolute;
  left:2px;
  top:214px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:722px;
}
#u58 {
  position:absolute;
  left:1370px;
  top:3347px;
  width:381px;
  height:722px;
}
#u59 {
  position:absolute;
  left:2px;
  top:353px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:712px;
}
#u60 {
  position:absolute;
  left:1770px;
  top:3352px;
  width:380px;
  height:712px;
}
#u61 {
  position:absolute;
  left:2px;
  top:348px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:51px;
}
#u62 {
  position:absolute;
  left:1370px;
  top:3223px;
  width:304px;
  height:51px;
}
#u63 {
  position:absolute;
  left:2px;
  top:18px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:53px;
}
#u64 {
  position:absolute;
  left:1370px;
  top:3284px;
  width:132px;
  height:53px;
}
#u65 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u66 {
  position:absolute;
  left:1770px;
  top:3285px;
  width:129px;
  height:51px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u68 {
  position:absolute;
  left:20px;
  top:3813px;
  width:949px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:945px;
  white-space:nowrap;
}
.u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
.u72 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u73 {
  position:absolute;
  left:0px;
  top:235px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
.u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u75 {
  position:absolute;
  left:181px;
  top:0px;
  width:119px;
  height:42px;
  color:#FFFFFF;
}
.u75_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(197, 235, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u75.selected {
}
.u75_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
  background:inherit;
  background-color:rgba(245, 183, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u75.disabled {
}
.u76 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u70-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u70-2 {
  position:absolute;
  left:310px;
  top:0px;
  width:300px;
  height:276px;
}
#u70-3 {
  position:absolute;
  left:620px;
  top:0px;
  width:300px;
  height:276px;
}
#u70-4 {
  position:absolute;
  left:0px;
  top:286px;
  width:300px;
  height:276px;
}
#u70 {
  position:absolute;
  left:20px;
  top:3855px;
  width:920px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:437px;
}
#u77 {
  position:absolute;
  left:981px;
  top:3855px;
  width:366px;
  height:437px;
}
#u78 {
  position:absolute;
  left:2px;
  top:210px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:668px;
}
#u79 {
  position:absolute;
  left:979px;
  top:4312px;
  width:366px;
  height:668px;
}
#u80 {
  position:absolute;
  left:2px;
  top:326px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:615px;
}
#u81 {
  position:absolute;
  left:1361px;
  top:4312px;
  width:366px;
  height:615px;
}
#u82 {
  position:absolute;
  left:2px;
  top:300px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
